// RESET
*, *::before, *::after {
	box-sizing: inherit;
}

body {
	padding: 0;
	margin: 0;
	font-family: var(--FF);
	background: var(--Dark-BG);
	color: var(--Dark-Text2);
}

html {
	font-size: 100%;
	box-sizing: border-box;
}

 